# Ignore node_modules (common for React apps)
node_modules/

# Ignore logs, build directories, and temporary files (React specific)
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/

# Ignore .env files (for sensitive environment variables)
.env

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# React-specific submodule ignores (if any)
/react/node_modules/
/react/build/
/react/dist/

# Ignore Spring Boot specific files
springboot/target/
springboot/.idea/
springboot/.mvn/

# If you have any other general excludes for the whole project
*.log
*.tmp

# Springboot

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
