.container {
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  background-color: var(--neutral-light);
  color: var(--text-color-dark);
  font-size: 1rem;
}

.toggleButton {
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  border-radius: 4px;
  cursor: pointer;
}

.toggleButton.active {
  background-color: var(--primary-color);
}

.error {
  color: var(--error-color);
  margin-bottom: 10px;
}

.link {
  margin-top: 10px;
  font-size: 0.9rem;
}

.linkText {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}

.linkText:hover {
  text-decoration: underline;
}
