.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color-light);
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: var(--neutral-dark);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inputField {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--neutral-light);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color-light);
}

.inputField::placeholder {
  color: var(--neutral-light);
}

.button {
  padding: 10px;
  font-size: 1rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color-dark);
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--primary-hover);
}

.error {
  color: var(--error-color);
  font-size: 0.9rem;
  text-align: center;
}
